<% taxons.each do |taxon| %>
<p>
  <label>
    <%= checkbox_for_taxonomy(@edition_tag_form.taxons, taxon) %>

    <span><%= taxon["title"] %></span>
  </label>
</p>
<div class="topics">
  <% if taxon["links"]["child_taxons"].present? %>
  <%= render partial: "taxonomy", locals: {form: form, taxons: taxon["links"]["child_taxons"]} %>
  <% end %>
</div>
<% end %>
